.box-contents
  - @products.order('created_at DESC').limit(4).each do |product|
    .items-box
      .items-box_photo
        = image_tag @products.images.variant(resize: "210x200").processed
      .items-box_body
        %h3.items-box-name
          = product.name
        .items-box-num
          .items-box-price
            ¥ 
            = product.price
          .items-box-icon
            %i.far.fa-heart
        .items-box-tax
          (税込)
.view-all
  %a{ href:'', class:"text-center__inner"}
    すべての商品を見る 